@{
    ViewData["Title"] = "Info";
}
<h2>@ViewData["Title"]</h2>

<p>jobStatus: <strong><span id="job-status">...</span></strong></p>
<a id="download-link" style="visibility: hidden;">Download</a>


@section Scripts
    {
    <script>
        const upd = setInterval(run, 500);
        run();

        function run() {
            let request = new XMLHttpRequest();
            request.open("GET", "/ConverterTaskStatus/GetTaskStatus?taskId=" + "@ViewBag.TaskId");

            request.send();

            request.onload = () => {
                let response = request.responseText;
                document.getElementById("job-status").innerText = response;
                if (response === "Done" || response === "Succeeded")
                {
                    document.getElementById("download-link").style.visibility = "visible";
                    document.getElementById("download-link").href = '/FileConverter/Download?taskId=' + "@ViewBag.TaskId"

                    clearInterval(upd);
                }
            }
        }
    </script>
}